{% include 'head' %}
{% include 'header' %}
<main class="page container">
    {% if posts and posts.size > 0 %}
    <section class="stack posts-list">
        <p class="section-label">Recent writing</p>
        {% for post in posts %}
        <article class="post-row">
            <time datetime="{{ post.date }}" class="muted">{{ post.date }}</time>
            <div class="post-row-body">
                <a href="/blog/{{ post.slug }}/" class="post-link">{{ post.frontmatter.title }}</a>
                {% if post.frontmatter.description %}<p class="muted">{{ post.frontmatter.description }}</p>{% endif %}
            </div>
        </article>
        {% endfor %}
    </section>
    {% endif %}
</main>
{% include 'footer' %}
